
body {
  background-color: rgb(210, 243, 255) ;
}
body {
    margin: 0px;
}
main {
    margin-left: 20px;
margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{

    list-style: none;
    background-color: rgb(89, 233, 249);
    padding: 0px;
    margin: 0px;
    overflow: hidden;

}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-color: rgb(125, 244, 255); 
}
.navbar a{
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(77, 200, 213);
}
.navbar li{
    float: left;
}
.large-text {
    font-size: 1.25em;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .help-sudan {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .help-sudan h1 {
    color: #333;
  }
  
  .donation-links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .donation-links li a {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
    border-radius: 5px;
  }
  
  .donation-links li a:hover {
    background-color: #45a049;
  }
  
  .awareness {
    margin-top: 20px;
  }
  